<%- layout('/layouts/boilerplate') %>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>We are devoted to fill you with finger-licking tastes</h1>
                    <p>Chakula moto moto</p>
                    <h5>for comrades by comrades with comrades</h5>
                    <p>
                        viungo,mejiimarisha juu ya tasnia na ni moja wapo kwa urahisi
                        chaguo la kwanza katika pizza ya huduma ya haraka barani Afrika.
                        <br>
                        <strong>
                            These are the meals that have made our Super Terrific Tuesdays and Thursdays
                            everyone’sfavourite days of the week. When entertaining family and friends, the
                            obvious and perfect choice to satisfy people of all ages.
                        </strong>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Everyday, a step away from hunger</h3>
                    <img src="https://basketsandbeadskenya.com/cdn/shop/articles/Pic_of_people_fighting_for_food.jpg?v=1587881658"
                        class="img-fluid">
                </div>
                <div class="well">
                    <h3>Furaha Kwa Kila Mtu</h3>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0AaCUSWsNZ4OvX1fbCYtp_xyf3IJqoIoEVw&s"
                        class="img-fluid">
                </div>
            </div>
        </div>
    </main>