<% layout('/layouts/boilerplate') %>
    <div class="container text-center px-4 mb-3">
        <h3>Happ Meals From Sweets && Sweet</h3>
        <div class="row  gx-5 md">
            <div class="col-sm-4 card mx-4 mb-3" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1669205340586-264dc3d85d07?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cGVhbnV0fGVufDB8fDB8fHww"
                    class="card-img-top img-fluid" alt="GroundNuts">
                <div class="card-body">
                    <h5 class="card-title">Njugu</h5>
                    <p class="card-text">Just a handful of peanuts per day provide enough recommended levels of phenolic
                        antioxidants, minerals, vitamins, and protein..</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Boosts Memory Power</li>
                    <li class="list-group-item">Lowers Risk of Heart Disease </li>
                    <li class="list-group-item">Helps Promote Fertility</li>
                </ul>
                <div class="card-body">
                    <a href="http://localhost:3000/products" class="card-link">Buy GroundNuts Now</a>

                </div>
            </div>

            <div class="card col-sm-4 mx-4" style="width: 18rem;">
                <img src="https://www.tasteofkenya.co.uk/images/thumbs/0000388_strawberry-mabuyu-pack-size-200g_550.jpeg"
                    class="card-img-top " alt="Mabuyu">
                <div class="card-body">
                    <h5 class="card-title">Mabuyu</h5>
                    <p class="card-text">Zaidi ya yote, mbuyu - angalau katika umbo la unga - ni rahisi kupatikana na
                        inaweza kutumika anuwai, na kuifanya iwe rahisi kuiongeza kwenye lishe yako na kufurahiya.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Regulates Body Fluids</li>
                    <li class="list-group-item">Protects and Repairs Cells </li>
                    <li class="list-group-item">Maintains Gastrointestinal Health</li>
                </ul>
                <div class="card-body">
                    <a href="http://localhost:3000/products" class="card-link">Buy Mabuyu Now</a>

                </div>
            </div>

            <div class="card col-sm-4" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJpUu5RGVHxPI6n9BqfARnYyxH200HS-b3Qg&s"
                    class="card-img-top " alt="Mabuyu">
                <div class="card-body">
                    <h5 class="card-title">BabaMkubwa</h5>
                    <p class="card-text">Lollipops can trigger the release of endorphins, that create feelings of
                        pleasure and can help boost your overall mood. So, when
                        you enjoy a lollipop, you’re not just satisfying your sweet tooth; you’re also giving your brain
                        a reason to smile..</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Occasional Treat</li>
                    <li class="list-group-item">A little bit of sugar can help restore willpower for big tasks like yard
                        work or homework. </li>
                    <li class="list-group-item">Kuoza kwa meno na matundu, hasa ikiwa usafi wa meno hautadumishwa.</li>
                </ul>
                <div class="card-body">
                    <a href="http://localhost:3000/products" class="card-link">Buy Biggest bigDaddy Now</a>

                </div>
            </div>
        </div>
    </div>